@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: local('Pretendard'), url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: local('Pretendard'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2');
}
